[flake8]
application-import-names = helloworld
jobs = 4
max-line-length = 160
enable-extensions = G
# Best way to select all installed plugins so far ...
select = E,F,W,A,B,C,D,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,X,Y,Z
ignore = E501,E203,W503
show-source = true
format = html
htmldir = flake-report
exclude =
    __pycache__
    devenv
    venv